.contenedor {
    text-align: center;
}

.tarjetas12 {
    display: flex;
    justify-content: space-evenly;
}

.botoncard {
    border: 10px solid;
}

.snatchtitulo {
    background-color: #16C60A;
    text-align: center;
}

.tecnicassnatch {
    background-color: #16C60A;
    text-align: center;
}

.contenedorsnatch {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 10px;
}

.imagensnatch {
    width: 600px;
    height: 400px;

}

.imagensnatchtecnicas {
    width: 600px;
    height: 350px;

}

.titulolasha {
    text-align: center;
    background-color: red;
}

.lashawiki {
  color: red;
}

.imagensnatch {
  align-content: center;
}

.contenedorclean {
  display: flex;
  justify-content: space-evenly;
}

.lashawiki {
  color: red;
}

.navbar {
  border: solid 3px;
}


.navunico {
  color: red;

}



@media screen and (max-width: 1000px) {
  .tarjetas12 {
      display: flex;
      flex-direction: column;
  }

  .card {
      margin-bottom: 20px;
  }
}



body {
  padding-left: 200px;
  padding-right: 200px;
}




iframe {
  width: 60%;
  height: 415px;
}



00000000000000000000000000



@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: transparent; 
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.bodyform{
  background-image: url(https://images.squarespace-cdn.com/content/v1/54ff424de4b04f451e869ae0/1428504905176-UE5XLA42R3N6EWCZB0JQ/weight-lifting-wallpaperweight-bar-workout-hd-wallpaper-of-size-1920x1080-resolutions-7tyago6s2.jpg?format=2500w);
}

header {
  text-align: center;
  padding: 10px;
  background-color: #ab4493;
}

section {
  max-width: 800px;
  margin: 20px auto;
}

.h2quien {
  color: #333;
}

.pquien {
  line-height: 1.6;
  color: #555;
}

.imgquien{
  max-width: 200px;
  margin-right: 20px;
  border-radius: 8px; 
}